* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1a0b2e;
}

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* common class */

.simple-text-gray {
    font-size: 1rem;
    font-weight: 300;
    color: #d1cfd8;
    padding-bottom: 20px;

}

/* navbar Section Start */

.navbar {
    margin: 30px 100px;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar>a {
    text-decoration: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.btn-primary {
    padding: 1rem;
    width: 130px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10000px;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border: none;
}

.hamburger-icon {
    display: none;
}

.logo-images>img {
    width: 100%;
    height: 100%;
}

/* Hero Section Start */
.hero-section {
    max-height: 760px;
}


.hero-container {
    background-image: url("./assets/hero-bg.png");
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


}

.hero-circle-images>img {
    position: absolute;
    top: 50px;
    right: 38.8%;
    width: 280px;
    height: 280px;
}

.hero-circle-images .hero-images-2 {
    width: 80px;
    height: 140px;
    position: absolute;
    right: 46.5%;
    top: 20%;
}

.new {
    border: 2px solid white;
    color: #FFFFFF;
    height: 20px;
    width: 50px;
    padding: 6px 5px 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 100px;
    position: absolute;
    left: 55%;
    top: 10%;
    color: rgba(0, 0, 0, 0.765);
    background-color: #00FF88;
    box-shadow: 0px 3px 20px 0px #1A0B2E;

}

.btn-spotify {
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 100px;
    background: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border: none;
}

.btn-message {
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border-radius: 100px;
    background: none;
    border: 1px solid #00FF88;
    /* position: absolute; */
    top: 10%;
    margin-left: 10px;
}

.hero-title {
    text-align: center;
    position: absolute;
    right: 68vh;
    bottom: 12vh;
}

.hero-text {
    font-size: 3.5rem;
    font-weight: 800;
    color: #FFFFFF;
    /* margin-top: 300px; */
    /* top: 100px; */
}

/* about-section-styling */

.about-heading {
    text-align: center;
    margin: 30px 100px;

}

.about-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.description {
    margin-top: 15px;
    margin-bottom: 80px;
}

hr {
    border: 1px solid rgb(52, 52, 52);
}

.contact-number-parents {
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 100px;

}

.number-box>h1 {
    color: #00FF88;
    font-size: 3rem;
}

.number-box>p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #d1cfd8;

}


/* choose-section-Start */
.choose-container {
    background-color: #230e3d;
}

.choose-heading>h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
}


.techwave-container {
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 40px;
    padding-bottom: 50px;
}


.techwave-box {
    padding: 30px 40px;
    background-color: #2a0f4d;
    border-radius: 40px;
}

.techwave-box>h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 16px;
}

.techwave-box>p {
    font-size: 1rem;
    font-weight: 400;
    color: #aa9fb8;
    line-height: 24px;
    padding-top: 15px;
}


.box-one {
    grid-row: span 2;
    padding-top: 80px;
}

.box-two,
.box-four,
.box-three {
    grid-column: span 2;
}

/* video-card styling */

.video-section-title>h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
    /* transition: 5s; */
}


@keyframes moveLR {
    0% {
        transform: translateX(-80px);
        color: #c33f0f;
    }

    50% {
        transform: translateY(-50px);
        color: gold;
    }

    100% {
        transform: translateX(80px);
        color: rgb(104, 229, 59);
    }
}

.animation-text {
    color: white;
    font-size: 60px;
    font-weight: bold;
    animation: moveLR 3s ease-in-out infinite alternate;
}

.video-card-container {
    margin: 30px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.video-card {
    width: 320px;
    height: 360px;
    background-color: #250d44;
    border-radius: 10px;
    /* border: 1px solid white; */
}

.video-card iframe {
    width: 320px;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.video-card>h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 15px 15px;
}

.video-card>h5 {
    font-size: 1rem;
    font-weight: 300;
    color: #a89eb4;
    padding: 10px 15px;
}

.video-card>p {
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    padding: 20px 15px;
}


/*host-section-styling  */

.host-title>h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
    margin: 120px auto 40px;
}

.host-container {
    margin: 30px 100px;
    height: 280px;
    background-color: #250e44;
    border-radius: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.host-images {
    margin: 40px 40px;
}


.host-details {
    grid-column: span2;
    margin: 48px 24px;
}

.host-details>h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
}

.host-details>p {
    font-size: 1rem;
    font-weight: 400;
    color: #a89fb4;
    margin: 16px auto;
}

.social-icon>a {
    margin-right: 10px;
    border: 1px solid #634f7ea3;
    padding: 10px 10px;
    border-radius: 100px;
}

/* footer section Styling */
.Logo-name {
    background-image: url("./assets/footer-bg.png");
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 120px;
}

.Logo-name>h2 {
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
    position: absolute;
    right: 34%;
    margin-top: 60px;
    width: 401px;
    height: 70px;
}

.logo-color {
    background: linear-gradient(30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-icon {
    align-items: center;
    position: absolute;
    margin-top: 12%;
    margin-left: 32%;
    margin-right: 0px;

}

.footer-icon img {
    margin-right: 10px;
}

.footer-icon>span {
    font-size: 1rem;
    color: #a89fb4;
    font-weight: 300;
    margin-right: 10px;
}

.Logo-name>p {
    align-items: center;
    position: absolute;
    margin-top: 20%;
    margin-left: 35%;
    margin-right: 0px;
    color: #a89eb4;
}



/* media query mobile responsive */

@media screen and (max-width:576px) {
    .btn-primary {
        display: none;
    }

    .menu-bar>a {
        display: none;
    }

    .nav-container {
        /* display: flex; */
        justify-content: space-between;
    }

    .hamburger-icon {
        text-align: end;
        display: inline;
    }

    .logo-images>img {
        width: 137px;

    }

    .navbar {
        margin: 20px 20px;
    }

    /* Hero Section Responsive */
    .hero-container {
        background-size: contain;
        height: 400px;

    }

    .hero-circle-images .hero-images-2 {
        width: 46px;
        height: 70px;
        right: 45%;
        top: 30%;
    }

    .hero-circle-images>img {
        position: absolute;
        top: 65px;
        right: 29%;
        width: 180px;
        height: 180px;
    }

    .hero-title {
        position: sticky;
        right: 0vh;
        bottom: 0vh;
        padding-top: 55%;
        padding-bottom: 40px;
    }

    .hero-text {
        font-size: 2.5rem;
        padding-top: 24px;
    }

    .new {
        left: 55%;
        top: 15%;
    }

    /* contact-number-parents section Responsive*/

    .contact-number-parents {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-number-parents {
        margin: 0 auto;
        gap: 40px;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;

    }

    .about-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .about-heading {
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;

    }

    .description {
        margin-top: 1rem;
        margin-bottom: 40px;
    }

    /* choose-section Responsive */


    .techwave-container {
        margin: 30px 25px;
        grid-template-columns: repeat(1, 1fr);

    }


    .box-one {
        grid-column: 1;
        padding-top: 0px;
    }

    .box-two,
    .box-four,
    .box-three {
        grid-column: 1;
    }

    .box-five {
        grid-column: 1;
    }

    .techwave-box {
        padding: 15px;
        width: 350px;
        border-radius: 20px;
    }

    .choose-heading>h2 {
        font-size: 2rem;
        padding-top: 50px;
    }

    /* /* video-card \ Responsive */

    .video-card-container {
        margin: 30px 50px;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;

    }

    .video-section-title>h2 {
        font-size: 2.2rem;
        margin-top: 40px;
        margin-bottom: 24px;
    }

    /* Meet the Host Section Responsive */

    .host-container {
        margin: 20px 50px;
        height: 550px;
        grid-template-columns: repeat(1, 1fr);

        text-align: center;
    }

    .host-details {
        grid-column: span 1;
        margin: 0px auto;
    }

    .host-title>h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: #FFFFFF;

    }

    .host-title>h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
        color: #FFFFFF;
        margin: 60px auto;
    }


    /* footer section Responsive */
    .Logo-name {
        background-size: contain;
        margin-top: 0px;
    }

    .Logo-name>h2 {
        font-size: 2rem;
        right: 25%;
        margin-top: 100px;
        width: 200px;
        height: 0px;

    }

    .footer-icon {
        margin-top: 35%;
        margin-left: 32%;
        margin-right: 10px;

    }

    .footer-icon>span {
        font-size: 0.5rem;
        color: #a89fb4;
        font-weight: 300;
        margin-right: 65px;
    }

    .footer-icon img {
        weight: 10px;
        height: 10px;
    }

    .Logo-name>p {
        font-size: 0.5rem;
        margin-top: 46%;
        margin-left: 32%;
    }


    .animation-text {
        display: none;
    }

}