*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #1a0b2e;
}

.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* common class */

.simple-text-gray{
    font-size: 1rem;
    font-weight: 300;
    color: #d1cfd8;
    padding-bottom: 20px;
    
}


/* navbar Section Start */

.navbar{
    margin: 30px 100px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar>a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.btn-primary{
    padding: 1rem;
    width: 130px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10000px;
    background: linear-gradient( 30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border: none;
}

.hamburger-icon{
    display: none;
}

.logo-images>img{
    width: 100%;
    height: 100%;
}

                /* Hero Section Start */
.hero-section{
    max-height: 760px;
}


.hero-container{
    background-image: url("./assets/hero-bg.png");
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    
}

.hero-circle-images>img{
    position: absolute;
    top: 50px;
    right: 38.8%;
    width: 280px;
    height: 280px;
}

.hero-circle-images .hero-images-2{
    width: 80px;
    height: 140px;
    position: absolute;
    right: 46.5%;
    top: 20%;
}

.new{
    border: 2px solid white;
    color: #FFFFFF;
    height: 20px;
    width: 50px;
    padding: 6px 5px 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 100px;
    position: absolute;
    left: 55%;
    top: 10%;
    color: rgba(0, 0, 0, 0.765);
    background-color: #00FF88;
    box-shadow: 0px 3px 20px 0px #1A0B2E ;
    
}

.btn-spotify{
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 100px;
    background: linear-gradient( 30deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    border: none;
}

.btn-message{
    padding: 15px 40px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border-radius: 100px;
    background: none;
    border: 1px solid #00FF88;
    /* position: absolute; */
    top: 10%;
    margin-left: 10px;
}

.hero-title{
    text-align: center;
    position: absolute;
    right: 68vh;
    bottom: 12vh;
}

.hero-text{
    font-size: 3.5rem;
    font-weight: 800;
    color: #FFFFFF;
    /* margin-top: 300px; */
    /* top: 100px; */
}

            /* about-section-styling */

.about-heading{
    text-align: center;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}


.contact-number-parents{
        margin: 30px 100px;

}










@media screen and (max-width:576px) {
    .btn-primary{
        display: none;
    }
    .menu-bar>a{
        display: none;
    }
    .nav-container{
    /* display: flex; */
    justify-content: space-between; 
}
    .hamburger-icon{
        text-align: end;
        display: inline;
    }
    .logo-images>img{
    width: 137px;
   
}
    .navbar{
    margin: 20px 20px;
}

    /* Hero Section Responsive */
    .hero-container{
    background-size: contain;
    height: 400px;

}
.hero-circle-images .hero-images-2{
    width: 46px;
    height: 70px;
    right: 45%;
    top: 30%;
}

.hero-circle-images>img{
    position: absolute;
    top:65px;
    right: 29%;
    width: 180px;
    height: 180px;
}

    .hero-title{
    position: sticky;
    right: 0vh;
    bottom: 0vh;
    padding-top: 55%;
    padding-bottom: 40px;
}

.hero-text{
    font-size: 2.5rem;
    padding-top: 24px;
}

.new{
    left: 55%;
    top: 15%;
}



}